# Ignore everything
*

# Allow .gitignore to be seen by Git
!.gitignore

# Explicitly allow the kadence-child theme directory, by
# first allowing wp-content, then themes, but ignoring everything else
!app/public/wp-content/
app/public/wp-content/*
!app/public/wp-content/themes/
app/public/wp-content/themes/*
!app/publicwp-content/themes/kadence-child/
